{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSameLine": true,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "endOfLine": "lf"
}
